/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
	withName: RUN_MOP_PREPROCESS {
		publishDir = [
			path: { "${params.output_preprocess}" },
			mode: 'copy',
			enabled: true
		]
	}
	withName: RUN_MOP_MOD {
		publishDir = [
			path: { "${params.output_mod}" },
			mode: 'copy',
			enabled: true
		]
	}
	withName: RUN_MOP_CONSENSUS {
		publishDir = [
			path: { "${params.output_consensus}" },
			mode: 'copy',
			enabled: true
		]
	}
}