params {
    
    pipeline_path      = "$baseDir/MOP2"
    fileDict_path      = "$baseDir/comparison_dict.yml

    reference           = "$baseDir/data/index.fasta"
    GPU                 = "ON"
    pars_tools          = "drna_tool_unsplice_opt.tsv" 

    email              = "maximilian.vonderlinde@ccri.ac.at"
}
