params {
    // Parameters that should be checked before each run
    pipeline_path      = "$baseDir/MOP2"

    reference           = "$baseDir/data/index.fasta"
    GPU                 = "ON"

    email              = "maximilian.vonderlinde@ccri.ac.at"

    samples {
        NT {
            rep1       = "./data/NT_03"
            rep2       = "./data/NT_02"
        }
        DOX {
            rep1       = "./data/DOX_03"
            rep2       = "./data/DOX_02"
            rep3       = "./data/DOX_01"
        }
    }

    output_preprocess   = "$baseDir/output_preprocess"
    output_mod          = "$baseDir/output_mod"
    output_consensus    = "$baseDir/output_consensus"



    // Parameters that most likely stay the same from run to run
    conffile            = "$baseDir/MOP2/mop_preprocess/final_summary.txt"

    annotation          = ""
    ref_type            = "transcriptome"

    pars_tools_preprocess = "$baseDir/MOP2/mop_preprocess/drna_tool_unsplice_opt.tsv" 
    pars_tools_mod        = "$baseDir/MOP2/mop_mod/tools_opt.tsv"
    qualityqc           = 5
    granularity         = 1

    basecalling         = "guppy"
    demultiplexing      = "NO"
    demulti_fast5       = "NO" 

    filtering           = "nanoq"

    mapping             = "graphmap"
    counting            = "nanocount"
    discovery           = "NO"

    cram_conv           = "YES"
    subsampling_cram    = 50

    saveSpace           = "NO"

    // for mop_consensus
    padsize            = 50

    // for mop_mod
    // flows 
    epinano       = "YES"
    nanocompore   = "YES"
    tombo_lsc     = "YES"
    tombo_msc     = "YES"

    // epinano plots
    epinano_plots = "YES"

}
